@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Exo+2:wght@800&display=swap');

:root {
    --main-color: #92bceaff;
    --secondary-color: #ffffff;
    --accent-color: #7a93acff;
    --default-light: #ffffff;
    --default-dark: #171a21ff;


    --header-font: 'Exo 2', sans-serif;
    --paragraph-font: 'Comfortaa', sans-serif;
}

/* Random styling for html and body */
html { background-color: var(--secondary-color); }
body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 100% auto;
}
body > * {
    grid-column: 2;
}
.shadow-blocker-1, .shadow-blocker-2 {
    background-color: var(--secondary-color);
    position: relative;
    z-index: 24;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 4;
}
.shadow-blocker-2 {
    grid-column: 3;
}

/* Global Font Styles */
h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.1em;
}
h1, h2, h3, h4, th {
    font-family: var(--header-font);
}
p, span, div, li, td, a {
    font-family: var(--paragraph-font);
}

/* Styles for the header and elements inside the header */
header {
    z-index: 10;
    padding: 1rem;
    position: relative;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}
header > span {
    display: block;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}
h1 {
    color: var(--secondary-color);
    margin-bottom: 0.75rem;
}

/* Styles for the main and the children of main */
main {
    padding: 1px 1em;
    background-color: var(--default-light);
}
h2 {
    color: var(--main-color);
}
h3, h4 {
    color: var(--default-dark);
}

span.navF {
    background-color: var(--main-color);
    color: var(--default-light);
    text-decoration: underline var(--secondary-color);
    padding: 0.5rem;
}
span.navFH {
    background-color: var(--main-color);
    color: var(--default-light);
    text-shadow: 0 0 10px var(--secondary-color);
    text-decoration: underline var(--secondary-color);
}
.typo-holder span.navR {
    position: static;
    z-index: 1;
}
.typo-holder.more-spacing .bgGreen,
.typo-holder.more-spacing .bgDark,
.typo-holder.more-spacing .bgBlue,
.typo-holder.more-spacing .bgWhite {
    box-shadow: inset 0 0 0 1px var(--default-dark);
}

h4 {
    margin-left: 15px;
}
h4 + p {
    margin-left: 30px;
}


/* Styles for the footer and it's child elements */
footer {
    box-shadow: 0 0 10px var(--default-dark);
    background-color: var(--main-color);
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    text-align: center;
    position: relative;
    padding: 1rem;
    z-index: 10;
}
footer a {
    color: var(--default-dark);
    text-decoration: underline var(--secondary-color);
}
footer a:hover {
    text-shadow: 1px 1px 10px var(--secondary-color);
}
.last-updated {
    padding-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

#too-small {
    display: none;
}