
:root {
  /* change the values below to your colors from your palette */


  /* change the values below to your chosen font(s) */
  --heading-font: "Poppins";
  --paragraph-font: Lato, Helvetica, sans-serif;
}
  

    
    .container {
      margin: 0 auto;
      font-size: 18px;
      text-align: left;
        display: grid;
        background: #8FAADC;
        align-items: center; 
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1.5fr;
       }
       
       .image {
         width: 20%;
         margin-left: 200px;
         height:30%;
         padding: 20px;

       }
       
       .text {
         font-size: 10px;
         text-align: center;
         margin-left: 200px;
         
       }

    nav {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      margin: 0 auto;
      font-size: 20px;
      text-align: center;
    }
    nav {
      
      background-color: #DB998D; 
      width: 100%;
      top: 0;
  }
    .program {
      
      background: white;
      text-align: center;
      max-width: 100%;
      margin: 0 auto;
      display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 4fr;
        text-align: center;
      
    }
  
     .card {
      background: rgb(245, 243, 243);
      border-style: groove;
      box-shadow: 0 3px 10px 00ABF6;
      margin: 0 auto;
      align-content: left;
      text-align: left;
      margin-top: -7%;
      margin-bottom: 20px;
      padding: 120px
      
     }
     
   
     .cards {
      background: rgb(245, 243, 243);
      border-style: groove;
      margin: 0 auto;
      margin-left: 15px;
      text-align: center;
      margin-top: -7%;
      margin-bottom: 20px;
      padding: 80px
    }
    .card > h3 {
      
      background: rgb(246, 207, 180);
      margin-left: -73%;
      margin-right: -73%;
      margin-top: -73%;
      text-align: center;
      padding: 5px;

     }
     .cards > h3 {
      
      background: rgb(246, 207, 180);
      margin-left: -52%;
      margin-right: -52%;
      margin-top: -52%;
      text-align: center;
      padding: 5px;

     }
     footer {
      display: grid;
      max-width: 100%;
      background-color: gray;
      color: white;
      padding: 15px;
      text-align: center;
      width: 100%;
      bottom: 0;
  }

    main {
      max-width: 100%;
      display: grid;
      margin: 0 auto;
      grid-template-columns: 20fr 1fr;
      text-align: right;
      
    }
  