* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

picture {
    margin: -5 auto;
}

picture img {
	align-items: center;
    max-width: 150px;
    max-height: 100px;
    margin-top: -20%;
    padding: 20px;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 100%;
}
nav ul {
	list-style-type: none;

}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}

.active {
	color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}

    hr {
        height: 3px;
        max-width: 100%;
        background: var(--accent1-color);
        
      }
}
main {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1.5rem;
}
    main, footer {
        max-width: 100%;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: #e6f2ff;
}
section {
	padding: .5rem;
    grid-gap: 1rem 
}


   ol {
	list-style: decimal;
    list-style-position: outside;
    padding: 1rem;
   }   
 
  .card > h3 {
      
    background: rgb(246, 207, 180);
    text-align: center;
    margin-left: -2.5%;
    margin-right: -2.5%;
    margin-top: -2.5%;
    padding: 10px;

   }
   .cards > h3 {
      
    background: rgb(246, 207, 180);
    text-align: center;
    margin-left: -4%;
    margin-right: -3%;
    margin-top: -4.5%;

   }
   section {
    padding: 1rem;
    border-style: groove;
    box-shadow: 0 3px 10px 00ABF6;
    background-color: #fff
}
h2 {
	color: navy;
	grid-column: 1/3;
    text-align: center;
}

.list {
	margin-bottom: .5rem;
}

footer {
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bolder;
}