* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 100%;
}
nav ul {
	list-style-type: none;

}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #0000ee;
	color: #894;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}

main {
	display: grid;
	grid-gap: 1.5rem;
}
    footer, .google-map {
        max-width: 100%;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: #e6f2ff;
		box-shadow: 0 3px 10px 00ABF6;
}


   ol {
	list-style: decimal;
    list-style-position: outside;
    padding: 1rem;
   }   
 
  .cardi > h3 {
      
    background: rgb(246, 207, 180);
    text-align: center;
    margin-left: -2.5%;
    margin-right: -2.5%;
    margin-top: -2.5%;
    padding: 10px;

   }
   .cards > h3 {
      
    background: rgb(246, 207, 180);
    text-align: center;
    margin-left: -4%;
    margin-right: -3%;
    margin-top: -4.5%;

   }
   section {
    padding: 1rem;
    border-style: groove;
    box-shadow: 0 3px 10px 00ABF6;
    background-color: #fff
}
h2 {
	color: navy;
	grid-column: 1/3;
    text-align: center;
}

.list {
	margin-bottom: .5rem;
}
.google-map{
    padding-bottom: 30%;
    position: relative;
}
.google-map iframe{
    height: 300px;
    width: 98%;
	box-shadow: 0 3px 10px 00ABF6;
    position: absolute;
    align-items: center;
}
footer {
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bolder;
}

/* Larger Views ******************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
    .card {
   
        background:white;
        font-size: 1rem;
        margin: 1rem;
        color: black;
        grid-template-columns: 1fr 300px;
        grid-gap: 1rem;
    }
     .google-map{
        border: 1px solid #bbb;
        max-height: 4rem;
        max-height: 20%;
		margin-right: 0.6rem;
        margin: 0.6rem;
    }
}
